html, body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
}

.main {
    padding: 40;
    text-align: center;
}

h2, p {
    text-align: center;
}

.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}  